# {{ project_name }}

{{ description }}

## Dependencies


## Setup

## Usage
When you begin working on this project, do the following:

    cd ~/Projects/thisproject/code
    source .env                     # Load the system-specific settings for this project and load the virtualenv
    ./root/manage.py syncdb         # Initialize the database
    ./root/manage.py runserver      # Launch your server. Visit http://localhost:8000/


## Local Settings
Heroku's system requires that local (per-environment) settings be stored as operating system environment variables.

For your development environment, specify settings in the `.env` file and then retreive them in `settings.py` like so:
```python
MY_SETTING = os.environ.get('MY_SETTING', 'default value here if setting isnt specified at the OS level')
```

Make sure you add all of the


## Heroku deploy instructions

    # Follow the heroku quickstart guide to get it installed and your authentication going
    heroku apps:create --stack=cedar SITENAME
    heroku config:add FLICKR_SECRET=aaaaaaaaaaaaaaaa
    # repeat config:add for secret key and any other variables in .env, especially the LANG setting
    heroku push heroku master
    # Get the db and starter data ready
    heroku run python manage.py syncdb --noinput
    heroku run python manage.py loaddata starter_data
    # Custom domains: configure your DNS as such: https://devcenter.heroku.com/articles/custom-domains
    heroku domains:add www.SITENAME.com
    heroku domains:add SITENAME.com

## Author
Created by [Your Name](http://example.com)

