# {{ project_name }}

{{ description }}

## Dependencies


## Usage
When you begin working on this project, do the following:

    cd ~/Projects/thisproject/code
    source .env                     # Load the system-specific settings for this project
    source ../env/bin/activate      # Load the virutalenv for this project
    ./manage.py runserver           # Launch your server. Visit http://localhost:8000/


## Local Settings
Heroku's system requires that local (per-environment) settings be started as operating system environment variables.

For your development environment, specify settings in the `.env` file and then retreive them in settings.py like so:
```python
MY_SETTING = os.environ.get('MY_SETTING', 'default value here if setting isnt specified at the OS level')
```

## Author
Created by [Your Name](http://example.com)

