# Django
Django==1.4
pytz=2012c
South==0.7.5
psycopg2==2.4.5

# Templates
Jinja2==2.6
jingo==0.4
git+https://github.com/auzigog/jinja-bootstrap.git@v0.3.0#egg=bootstrap

# Base
distribute==0.6.27
wsgiref==0.1.2
gunicorn==0.14.3