# Django
Django==1.5
South==0.7.6
psycopg2==2.4.6
distribute==0.6.35
wsgiref==0.1.2
pytz==2013b

# Models
git+git://github.com/concentricsky/django-cachemodel.git@b1f795ef07eff33ff57cd683fcab0ec968c251df#egg=django-cachemodel
git+git://github.com/concentricsky/django-basic-models.git@9237a0ce7f6e0d5bd8d1d8f3acac17217362c5d8#egg=django-basic-models

# Templates
Jinja2==2.6
jingo==0.6.1
git+https://github.com/auzigog/jinja-bootstrap.git@v0.3.0#egg=bootstrap

# Heroku
gunicorn==0.17.2
dj-database-url==0.2.1

# Per-app requirements go here
